*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.grid-cont{
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "header"
    "main"
    "footer"
    ;
}
header{
    grid-area: header;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    border-radius: 0 0 1.25rem 1.25rem;   
    }
.navbar{
    display: flex;
    list-style: none;
    gap: 0.625rem;
    padding: 0.625rem 0 0.625rem 0;     
}
.navbar li{
    padding: 0.3125rem;
    background-color: #24492e8e;
    border-radius: 1.875rem;
}
.navbar li a{ 
    text-decoration: none;
    color: white;
    font-size:1.25rem;
}
.logo a img{
    padding-top: 0.3125rem;
    height: 5.625rem;
    width: auto;
}
main{
    grid-area: main;
}
.main-index{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section-top{
    padding-top: 0.3125rem;
    background-color: white;    
}
.buscador{ 
    padding-bottom: 0.3125rem;
    font-size: 0.9375rem;
    text-align: center;
}
.buscador div{
    height: 20rem;
    width: 20rem;
    border-radius: 1.25rem;
    background-color: grey;
}
.galeria{
    object-fit: contain;
    text-align: center;
    }
.galeria img{
    height: 20rem;
    width: 20rem;
    border-radius: 1.25rem;
}
/* pales */
.section-mid{
    padding-bottom: 0.3125rem;
}
.section-palesq{
    display: none;
}
.section-pales{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #24492e8e;
    height: 3.125rem;
    width: 20rem;
    border-radius: 1.25rem; 
}
.section-pales a {
    text-decoration: none;
    color: white;
    font-size: 1.875rem;
}
.pales{
    display: none;
}
/* bot */
.section-bot{
    padding: 0.9375rem 0 0.9375rem 0;
}
.section-cursos{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #24492e8e;
    height: 3.125rem;
    width: 20rem;
    border-radius: 1.25rem;     
}
.section-cursos a {
    text-decoration: none;
    color: white;
    font-size: 1.875rem;
}
.section-cursosq{
    display: none;
}
.contenedor-cursos{
    display: none;
}
/* footer */
footer{
    grid-area: footer; 
    background-color: black;
    border-radius: 1.25rem 1.25rem 0 0;
}
.footer-cont{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer-a a{
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    background-color: #24492e8e;
    border-radius: 1.875rem;
    padding: 0.5rem;
}
/* palestras main */
.pales-top{
    display: flex;
    flex-direction: column;
    padding-top: 0.9375rem;
}
.pales-txt{
    text-align: center;
}
.pales-txt h2{
    padding-top: 0.625rem;
}

.section-palestras{    
    display: flex; 
    flex-direction: column; 
    background-color: #24492e8e;
    border-radius: 1.5625rem;
    align-items: center;
    justify-content: center;
    gap: 0.9375rem;
    margin: 1.875rem;
    padding: 1.25rem;
}
.section-palestras a{
    height: 10rem;
    width: 10rem;
    border-radius: 100%;

}
.section-palestras a img{
    height: 10rem; 
    border-radius: 100%; 
    border: 1px solid black;          
    
}
/* IN PALES MAIN */
.section-in-pales{
    text-align: center;
    padding: 1.25rem;
}
.section-horarios{
    display: flex;
    align-items: center;
    justify-content: center;
}
.horarios-pales{
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#24492e8e ;
    border-radius: 1.5625rem;
    list-style: none;
    padding: 0.9375rem;
    margin: 1.875rem;
}
.list-style li{
    text-align: center;
    list-style: none;
}

.horarios-pales img{    
    width: 10.625rem;
}
.foto-pale{
    display: none;
}
.maps-m{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.9375rem;    
}
.maps-m h3{
    padding: 0.9375rem;
}
.maps-pc{
    display: none;
}
/* CURSOS MAIN */
.cursos-p{
    display: none;
}
.cursos-t{
    text-align: center;
    margin: 0.9375rem;
}
.cursos-m{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 1.875rem;
    gap: 1.875rem;
}
.cursos-div{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
.cursos-div p{
    background-color: #24492e8e ;
    border-radius: 1.5625rem;
    padding: 0.625rem;
}


/* tablet */
@media (min-width:590px){
    header{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;        
    }
    .logo{
        margin-left: 0.9375rem;
    }
    .navbar{
        margin-right: 0.9375rem;
    }
    .section-palestras{
        display: grid;        
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        align-items: center;
        justify-items: center;                    
    }
    .horarios-pales{
        width: 21.25rem;       
    }
    .maps-m{
        display: none;
    }
    .maps-pc{       
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .maps-pc h3{
        padding: 0.9375rem;
    }
    .cursos-m{
        flex-direction: row;
    }
    .cursos-p{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.25rem;
        background-color:#24492e8e ;
        padding: 0.9375rem;        
        border-radius: 1.5625rem;
    }
    .cursos-p div img{
        width: 21.25rem;
        border-radius: 1.5625rem;
    }
}
/* Note */
@media (min-width:769px){
    .section-top{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr;
        gap: 1.5625rem;
        
    }
    .section-pales{
        display: none;
    }
    .section-palesq{
        display: flex;
        justify-content: center;
    }
    .pales{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 0.625rem;
        background-color: #24492e8e;
        border-radius: 1.25rem;
    }
    .pales a{        
        border-radius: 100%;
    }
    .pales a img{
        height: 15rem;
        width: auto;
        margin: 0.625rem;
        border-radius: 100%;          
        border: 1px solid black;      
    }
    .section-palestras{
        display: grid;        
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: auto;
        align-items: center;
        justify-items: center;                    
    }    
    .foto-pale{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0.9375rem 0 ;
    }
    .section-horarios{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .foto-pale img{
        height: 450px;
        width: auto;
        border-radius: 1.5625rem;
    }
    .cursos-p{   
        margin: 0 6.25rem;     
    }

}
/* pc */
@media (min-width:1025px){
    .section-cursos{
        display:none ;
    }
    .section-cursosq{
        display: flex;
        justify-content: center;
    }   
    .contenedor-cursos{
        display: flex;
        height: 20rem;
        align-items: center;
        justify-content: space-between;
        background-color: #24492e8e;
        border-radius: 1.5625rem;
        gap: 0.9375rem;
        padding: 1.25rem;
    }
    .contenedor-cursos img {
        height: 15rem;
        width: auto;        
        border-radius: 1.5625rem;
    }
    .cursos-texto{
        border: 1px solid black;
        text-align: center;
        width: 15rem ;        
    }
    .section-palestras{
        display: grid;        
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: auto;
        align-items: center;
        justify-items: center;                    
    }
    .section-horarios{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;       
    }
    .cursos-p{
        margin: 0 25%;
    }
}
